@{
    ViewData["Title"] = "Página Inicial";
}

@{
    Layout = null;
}

<header>
    <link rel="stylesheet" href="~/css/style.css" />
    <div class="cabecalho-esquerda">
        <div class="logo">
            <img src="~/imagens/logo.png" alt="Logo MeuPET">
        </div>
        <h1>CuidaPet</h1>
    </div>
    <div class="atalhos-topo">
        <a asp-controller="Login" asp-action="Index" class="botao-cabecalho">Login</a>
        <a asp-controller="Cadastro" asp-action="Index" class="botao-cabecalho">Cadastrar</a>
    </div>
</header>

<main>
    <section class="conteudo-esquerdo">
        <h2>Facilidade para gerenciar seu negócio</h2>
        <p>
            Gerencie todos os aspectos do cuidado com os animais de estimação<br>
            de seus clientes em uma única plataforma integrada e fácil de usar.
        </p>
        <p class="texto-parede">Junte-se a milhares de clínicas veterinárias</p>
    </section>

</main>
