@{
    ViewData["Title"] = "Página Inicial - CuidaPet";
    Layout = "~/Views/Shared/_MenuAgenda.cshtml";
}

<div id="informacoes-pet" class="container-informacoes">
    <div class="placeholder">
        <i class="fas fa-paw"></i>
        <p>Selecione um pet para visualizar ou editar</p>
    </div>
</div>

@section Scripts {
    
}